 header {
    width:100%;
    height:80px;
    }
    #header_index {background-image:url(img/www.jpg);}

    #header_history { background-color:rgb(173, 10, 173);}

    #header_childrenatcomputer {background-color:yellowgreen;}

    #header_computers {background-color:blueviolet;}

    #header_complects {background-color:burlywood;}

    #header_exemplars {background-color:green;}

    /* Headers */
    /* hitman */
    .title {
    
    font-size:40px;
    padding-top:10px;
    text-align:center;
    color:whitesmoke;
    }
    #title_exemplars {font-size:25px; padding-top: 20px;}

    @media screen and (max-device-width: 480px) {
        .title {
          font-size: 0.2em;
        }
      }
    .menu {
    
    list-style:none;
    position:absolute;
    top:10px;
    left:10px;
    font-size:15px;
    }
    #menu_history {top:20px;}
    
    a {
    
    text-decoration:none;
    color:white;
    
    }
    
    .welcome {
    
    text-align:center;
    margin-top:40px;
    
    }
    
    .welcome-text {
    
    font-size:20px;
    
    }
    
    .glavtext {
    
    font-size:17px;
    
    }
    
    p {
    text-align:center;
    }
    p img {
        border-radius:25px;
    }
    
    h4 {
    font-size:19px;
    }
    
    h5 {
    font-size:19px;
        
    }
    #hyperx {text-align:center;}
    #Asush2 {text-align:center; padding-top:10px; font-size:30px;}
    #Asusp {text-align:center; padding-top:10px; font-size:18px;}
    #Lenovop {text-align:center; padding-top:10px; font-size:18px;}

    .h_complects {text-align:center;}
    .url {color:blue; font-size:15px;}

    .h_computers {text-align:center; padding-top:10px; font-size:30px;}
    .p_computers {text-align:center;}
    #menu_childrenatcomputer {list-style:none; position:absolute; top:22px; left:10px; font-size:15px}
    #menu_childrenatcomputer li a:hover {color:cyan}
    #menu_childrenatcomputer li a:active {color:blue}
    #menu_index {list-style:none; position:absolute; top:10px; left:10px; font-size:15px;}
    #menu_index li a:hover {color:brown}
    #menu_index li a:active {color:blueviolet}
    #menu_history li a:hover {color:green}
    #menu_history li a:active {color:gold}
    #menu_computers {list-style:none; position:absolute; top:10px; left:10px; font-size:15px;}
    #menu_computers li a:hover {color:navy}
    #menu_computers li a:active {color:sandybrown}
    #menu_complects {list-style:none; position:absolute; top:10px; left:10px; font-size:15px;}
    #menu_complects li a:hover {color:aqua}
    #menu_complects li a:active {color:orangered}
    #menu_exemplars {list-style:none; position:absolute; top:10px; left:10px; font-size:15px;}
    #menu_exemplars li a:hover {color:fuchsia}
    #menu_exemplars li a:active {color:darkkhaki}

