 
 #container {

 display:flex;
 flex-direction: column;

 }

 header {
    width:100%;
    /* min-width: 600px; */
    height:100px;
    }
    #header_index {background-image:url(img/www.jpg);}

    #header_history { background-color:rgb(173, 10, 173);}

    #header_childrenatcomputer {background-color:yellowgreen;}

    #header_computers {background-color:blueviolet;}

    #header_complects {background-color:burlywood;}

    #header_exemplars {background-color:green;}

    /* Headers */
    /* hitman */
    .title {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    font-size:40px;
    text-align:center;
    color:whitesmoke;
    }
    .title span {
      width: 100%;
      /* min-width: 20%; */
    }
    #title_exemplars {font-size:25px; padding-top: 20px;}

    @media screen and (max-device-width: 480px) {
        .title {
          font-size: 0.2em;
        }
      }
    .menu {
    
    list-style:none;
    position:absolute;
    top:10px;
    left:10px;
    font-size:15px;
    }
    #menu_history {top:20px;}
    
    a {
    
    text-decoration:none;
    color:white;
    
    }
    
    .welcome {
    
    text-align:center;
    margin-top:40px;
    
    }
    
    .welcome-text {
    
    font-size:20px;
    padding-left:30px ;
    padding-right:30px ;
    }
    
    .information {
    
    font-size:17px;
    padding-left:30px ;
    padding-right:30px ;
    }
    
    p {
    text-align:center;
    }
    p img {
        border-radius:25px;
    }
    
    h4 {
    font-size:19px;
    }
    
    h5 {
    font-size:19px;
        
    }
    #hyperx {text-align:center;}
    #Asush2 {text-align:center; padding-top:10px; font-size:30px;}
    #Asusp {text-align:center; padding-top:10px; font-size:18px;}
    #Lenovop {text-align:center; padding-top:10px; font-size:18px;}

    .h_complects {text-align:center;}
    .url {color:blue; font-size:15px;}

    .h_computers {text-align:center; padding-top:10px; font-size:30px;}
    .p_computers {text-align:center;}
    #menu_childrenatcomputer {list-style:none; font-size:15px; min-width: 150px;}
    #menu_childrenatcomputer li a:hover {color:cyan}
    #menu_childrenatcomputer li a:active {color:blue}
    #menu_index {list-style:none; font-size:15px; min-width: 150px;}
    #menu_index li a:hover {color:brown}
    #menu_index li a:active {color:blueviolet}
    #menu_history {list-style:none; font-size:15px; min-width: 150px;}
    #menu_history li a:hover {color:green}
    #menu_history li a:active {color:gold}
    #menu_computers {list-style:none; font-size:15px; min-width: 150px;}
    #menu_computers li a:hover {color:navy}
    #menu_computers li a:active {color:sandybrown}
    #menu_complects {list-style:none; font-size:15px; min-width: 150px;}
    #menu_complects li a:hover {color:aqua}
    #menu_complects li a:active {color:orangered}
    #menu_exemplars {list-style:none; font-size:15px; min-width: 150px;}
    #menu_exemplars li a:hover {color:fuchsia}
    #menu_exemplars li a:active {color:darkkhaki}




/* flex-direction
задаёт направление основных осей


justify-content
определяет, как браузер распределяет пространство вокруг флекс-элементов вдоль главной оси контейнера. 


align-items
выравнивает флекс-элементы внутри контейнера 


order
определяет порядок вывода флексов внутри флекс-контейнера.  */